---
- name: Basic Router Management
  hosts: all
  gather_facts: no
  connection: ansible.netcommon.network_cli

  tasks:
    - name: Get router information
      cisco.ios.ios_command:
        commands:
          - show version | include Version
          - show ip interface brief
      register: info

    - name: Display router information
      debug:
        msg: |
          Router Information:
          Version: {{ info.stdout_lines[0][0] if info.stdout_lines[0] else 'N/A' }}
          Interfaces:
          {% for line in info.stdout_lines[1] %}
            {{ line }}
          {% endfor %}

    - name: Configure basic settings (example)
      cisco.ios.ios_config:
        lines:
          - banner motd # Managed by Ansible #
        save_when: always
      when: false  # Disabled by default for safety
